body{
    background-color: white;
}

.container{
    /*
    the margin is setting my 
    top/bottom to 0
    right/left to the middle of the browser window
        takes the of the container, substracts for brower window,
        divide the unused area by 2, sets the right/left margin to 
        the caculated values

    specify the desired width of your web site page
    width of 960px (this is a number the course has requested as its standard)
    960 = lm + lb + lp + content-width + rp + rb + rm + .....
    */
    margin: 0 auto;
    width: 960px;
    font-size: 100%;
    line-height: 1.5;
}

/*typography */
/* additional css add to the basic center page framework */

h1, h2, h3{
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #747474;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
    font-weight: bolder;
}

/* descendant selector (targetting) */
footer h2{
    color: lime;
}


/* page layout*/
nav{
    margin-top: 40px;
    background-color: #ddd;
}

header{
    background-color: #ddd;
    height: 250px; /* fixed vertical height to simulate content */
    margin-top: 24px;
}

main{
    background-color:#ddd;
    margin-top: 24px;
    height: 500px;
}

footer{
    height: 150px;
    background-color: red;
    margin-top: 24px;
    margin-bottom: 24px;
    color: lime;
}

main section{
    height: 200px;
    background-color: #c0c0c0;
    border: 2px solid black;
    margin: 20px;
    /* 20 + 2 + 0 + w + 0 + 2 + 20 = 960
        44 + w = 960 
        w = 960 - 44 = 916
        */
    width: 400px;
}